

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C4C4C4;
    font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C4C4C4;
    font-size: 14px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #C4C4C4;
    font-size: 14px;
}

li{
  list-style: none;
  margin: auto 2px;

}

.app{
  background-color: var(--background);
}

a{
  text-decoration: none;
  color: var(--text-primary);
}